/.idea
/.idea/*.*
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
*.orig
rerun.txt
pickle-email-*.html
/nbproject/*
*.zip
*.dmp
*.log
*.csv
*~
/IMPORTANT/temp/*.*
/IMPORTANT/database/data_dumps/no_git/*.sql
/IMPORTANT/database/data_dumps/no_git/*.zip
/important/temp/*.*
/important/database/data_dumps/no_git/*.sql
/important/database/data_dumps/no_git/*.zip
Gemfile.lock
thumbs.db
/public/uploads/*
/storage/
/storage

